<h3><strong><%= @chomp_session.name %></strong> is created!</h3>

<h4>Chomp code: <strong><%= @chomp_session.public_uid %></strong><br>
<span style="font-size: 14px;">Or, <%= link_to "click here", chomp_session_url(@chomp_session), style: "text-decoration: none;" %> to submit your response.</span></h4>

<p>Chomping is now in progress...</p>
<p>You'll have to wait <strong><%= pluralize(@chomp_session.session_expiry, 'hour') %></strong> before a decision is made for you.</p>
<p>Meanwhile, go do whatever you want! Who knows, you might even come up with a decision before us... unless you can't decide.</p>

<%= render "shared/meetup_details" %>

<p><em>Psst...</em> Made a mistake? <%= link_to "Click here", edit_chomp_session_url(@chomp_session), style: "text-decoration: none;" %> to edit the Chomp session details.</p>
