<h3><strong><%= @chomp_session.name %></strong> is updated!</h3>

<h4>Chomp code: <strong><%= @chomp_session.public_uid %></strong><br>
<span style="font-size: 14px;">Or, <%= link_to "click here", chomp_session_url(@chomp_session), style: "text-decoration: none;" %> to submit your response.</span></h4>
<p>Full link: <%= chomp_session_url(@chomp_session) %></p>

<p>Chomping is now in progress...<em>again</em>...</p>
<p>You'll have to wait <strong><%= pluralize(@chomp_session.session_expiry, 'hour') %></strong> before a decision is made for you.</p>
<p>Whew! Didn't know you're so indecisive you have to change the meetup details.</p>
<p>Hopefully that was just to fix a typo... <em>Right?</em></p>
<p>Meanwhile, continue doing whatever you were up to! Let us stress over where you should eat at instead.</p>

<%= render "shared/meetup_details" %>

<p><em>Psst...</em> Made a mistake <em>again</em>? <%= link_to "Click here", edit_chomp_session_url(@chomp_session), style: "text-decoration: none;" %> to edit the Chomp session details.</p>
