<div class="container d-flex">
  <div class="favorites-card">
    <h1>Your Favourites:</h1>
    <% if current_user.all_favorites.empty? %>
      <p>You do not have any restaurants in your favourites list</p>
    <% else %>
      <% @favorites.each do |favorite| %>
        <div class="row card-product d-flex m-4 align-items-center ">
          <div class="w-100">
            <h3><%= link_to "#{favorite.name}", restaurant_url(favorite) %></h3>
            <p><strong>Address:</strong> <%= favorite.address.strip %></p>
            <p><strong>Operating hours:</strong> <%= favorite.opening_time.strftime("%I:%M %p") %> ~ <%= favorite.closing_time.strftime("%I:%M %p") %><p>
            <% unchecked_stars = (5 - favorite.google_rating).to_i %>
            <% favorite.google_rating.to_i.times do |star| %>
              <span class="fa fa-star checked"></span>
            <% end %>
            <%= favorite.google_rating %>
          </div>
          <div class="row img-card">
            <img src="https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg?auto=compress&cs=tinysrgb&h=130" alt="Picture of restaurant">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
