<div data-controller="selecting-cuisines">
  <%= simple_form_for([chomp_session, response]) do |f| %>
    <%= hidden_field_tag 'location', 'none'%>
    <% if response.budget %>
      <%= f.input :budget, label: "Budget ($)",
                  collection: [5, 10, 25, 50], selected: response.budget,
                  include_blank: false, include_hidden: false %>
    <% else %>
      <%= f.input :budget, label: "Budget ($)",
                  collection: [5, 10, 25, 50], selected: 5,
                  include_blank: false, include_hidden: false %>
    <% end %>

    <div class="search-form-control form-group">
      <% if response.address %>
        <%= f.input :address, label: "Where to meet", input_html: { value: response.address } %>
      <% else %>
        <%= f.input :address, label: "Where to meet", input_html: { value: "19 Cuppage Rd, Singapore 229451" } %>
      <% end %>
      <a href="#" id="get_location"><i class="fas fa-map-marker-alt"></i></a>
    </div>

    <div id="cuisine-selections">
      <%= f.input :cuisine, label: "Select preferred cuisines (optional)",
                  as: :check_boxes,
                  input_html: {
                    class: "tag-selector",
                    data: {
                      selecting_cuisines_target: "selection",
                      action: "click->selecting-cuisines#select"
                    }
                  },
                  item_wrapper_class: "tag-item",
                  collection: [ "Asian", "Chinese", "Western", "Japanese", "Italian", "Halal", "Indian", "Thai", "Korean", "Local", "Steamboat", "Desserts" ] %>
    </div>
    <%= f.button :submit,
                  class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
