<div data-controller="selecting-cuisines">
  <%= simple_form_for([chomp_session, response]) do |f| %>
    <%= hidden_field_tag 'location', 'none'%>

    <label class="integer required mb-3" for="response_budget">Budget ($) <abbr title="required">*</abbr></label>
    <div class="slider px-3">
      <input type = "range" min="5" max="50" step="5" onchange="rangevalue.value=value" data-selecting-cuisines-target="slider" data-action="change->selecting-cuisines#budget"/>
      <output id="rangevalue" data-selecting-cuisines-target="slidervalue">5</output>
    </div>

    <% if response.budget %>
      <div class="form-group integer required response_budget">
        <input class="form-control numeric integer required budget-selector" data-selecting-cuisines-target="money" value=<%= response.budget %> type="number" step="1" name="response[budget]" id="response_budget" >
      </div>
    <% else %>
      <div class="form-group integer required response_budget">
        <input class="form-control numeric integer required budget-selector" data-selecting-cuisines-target="money" value="5" type="number" step="1" name="response[budget]" id="response_budget">
      </div>
    <% end %>

    <div class="search-form-control form-group">
      <% if response.address %>
        <%= f.input :address, label: "Where you wish to meet at", input_html: { value: response.address, onClick: "this.setSelectionRange(0, this.value.length)" } %>
      <% else %>
        <%= f.input :address, label: "Where you wish to meet at", input_html: { value: "19 Cuppage Rd, Singapore 229451", onClick: "this.setSelectionRange(0, this.value.length)" } %>
      <% end %>
      <a href="#" id="get_location"><i class="fas fa-map-marker-alt"></i></a>
    </div>

    <div id="cuisine-selections">
      <%= f.input :cuisine, label: "Select preferred cuisines (optional)",
                  as: :check_boxes,
                  input_html: {
                    class: "tag-selector",
                    data: {
                      selecting_cuisines_target: "selection",
                      action: "click->selecting-cuisines#select"
                    }
                  },
                  item_wrapper_class: "tag-item",
                  collection: [ "Asian", "Chinese", "Western", "Japanese", "Italian", "Halal", "Indian", "Thai", "Korean", "Local", "Steamboat", "Desserts" ] %>
    </div>
    <%= f.button :submit,
                  class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
