<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-login">

        <h1 class="success-header animate__animated animate__bounce">Preferences submitted!</h1>
        <p class="success-body">Congratulations! Your preferences will be taken into consideration so you don’t feel left out. Feel free to share the link to pester your friends!</p>

        <%= render "shared/meetup_details" %>

        <div data-controller="clipboard" data-clipboard-success-content="Copied!" class="clipboard-form-control form-group mb-3">
          <input type="text" value="<%= chomp_session_url(@chomp_session) %>" data-clipboard-target="source" class="clipboard-text w-100 pl-2"/>

          <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="btn-flat btn-outline-info">
            <i class="fas fa-clipboard"></i> Copy
          </button>
        </div>
        <p>Made a mistake? Have no fear! Edit your preferences again.</p>
        <% if user_signed_in? %>
        <div class="d-flex justify-content-center">
          <%= link_to "Edit preferences", edit_response_path(@response), class: "btn btn-primary btn-lg" %>
        </div>
        <% end %>

        <% unless user_signed_in? %>
        <p style="font-size:0.7rem;" class="text-info text-center">*Note: You will need to sign in/up before you can edit your preferences*</p>
        <% end %>

        <% if @chomp_session.user == current_user %>
          <button type="button" class="btn btn-info btn-lg text-white" data-toggle="modal" data-target="#exampleModalCenter">
            Show me where to eat
          </button>
        <% end %>
        <p class="text-center text-info"> Number of Responses: <%= @chomp_session.responses.count %></p>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalCenterTitle">Show me where to eat</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you want to end the poll prematurely and see your restaurant result?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success text-white" data-dismiss="modal">No</button>
        <%= link_to "Yes", chomp_session_result_path(@chomp_session), class: "btn btn-primary", id: "bootstrap-overrides" %>
      </div>
    </div>
  </div>
</div>
