<h3><strong><%= @restaurant.name %></strong><br>
<%= @restaurant.address.strip %></h3>

<p>Above is the name and address of the restaurant we have selected for your meetup.</p>
<p>
  Here's some details of the restaurant that may be useful to you:<br>
  <% unless @restaurant.cuisine == "" %>
    <strong>Cuisine type:</strong> <%= @restaurant.cuisine %><br>
  <% end %>
  <strong>Operating hours:</strong> <%= @restaurant.opening_time.strftime("%I:%M %p") %> ~ <%= @restaurant.closing_time.strftime("%I:%M %p") %><br>
  <strong>Google review score:</strong> <%= @restaurant.google_rating %>
</p>

<p>Thank <em>you</em> for using Chomp!</p>
