<%= simple_form_for(chomp_session) do |f| %>
  <%= f.input :name, label:"Meeting Name", required: false,
    placeholder: "I can't decide on a name on #{Time.now}",
    input_html: { value: f.object.name || [
    "Chomping since #{Time.now}",
    "Nom nom time",
    "Chomp chomp time",
    "Indecisive Gang",
    "Café Hoppers",
    "Just need somewhere to shake my legs and wag my tongue",
    "I can't decide on a name",
    "What is life?",
    "Anything la", "Whatever la",
    "Can Chomp decide on a name for me, please?",
    "Turtles are cute",
    "Cats > Dogs",
    "Dogs > Cats"
    ].sample } %>
  <%= f.input :date, html5: true, min: "#{Date.today.iso8601}"%>
  <%= f.input :time, html5: true, min: "#{Time.now.iso8601}" %>
  <%= f.input :session_expiry, label:"Link Expiry Time (Hours)", hint: "Set the time that you want your poll to be active" %>
  <%# <%= f.input :invitees, label:"Number of Friends (optional)", placeholder:"Optional" %>
  
  <label class="integer optional mb-3" for="chomp_session_invitees">Number of Friends (optional)</label>
  <div class="flex-between">
    <a class="round-bordered incrementer minus" data-offset="-1">-</a>
    <span id="counter" data-count="1">1</span>
    <a href="#" class="round-bordered incrementer" data-offset="1" type="button">+</a>
  </div>

  <div class="form-group integer optional chomp_session_invitees">
    <input type="number" disabled class="form-control numeric integer optional" placeholder="Optional" step="1" name="chomp_session[invitees]" id="chomp_session_invitees" value="nil">
  </div>
  
  
  
  <%= f.submit value:"Create Invite Link", class:"btn btn-primary btn-block" %>
<% end %>


<script>
  const updateCounter = (counter, count) => {
    counter.dataset.count = count;
    counter.innerText = count;
  };

  const updateInput = (count) => {
    const input = document.getElementById('chomp_session_invitees');
    input.value = count;
  };


  const updateForm = (event) => {
    //converting string to integer from clicking on the plus and minus signs
    const offset = Number.parseInt(event.currentTarget.dataset.offset, 10);
    const counter = document.getElementById('counter');
    const count = Number.parseInt(counter.dataset.count, 10) + offset;
    if (count >= 1) {
      event.preventDefault();
      updateCounter(counter, count);
      updateInput(count);
    } else {
      event.preventDefault();
    }
  };

  const updateFormOnButtonClick = (button) => {
    button.addEventListener('click', updateForm);
  };

  const buttons = document.querySelectorAll('.incrementer');
  buttons.forEach(updateFormOnButtonClick);
</script>