<div class="container">
  <%= simple_form_for([@chomp_session, @response], remote: true) do |f| %>
    <%= f.input :budget,
                required: true %>
    <label for="response_location">Location</label>
    <div class="search-form-control form-group">
      <%= f.input :address, label: false %>
      <%# <button name="button" type="button" class="btn btn-flat"> %>
        <a href="#" id="get_location"><i class="fas fa-map-marker-alt"></i></a>
      <%# </button> %>
    </div>
    <%= f.input :cuisine,
                as: :check_boxes,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item mr-3 mb-3',
                collection: [ "Asian", "Chinese", "Western", "Japanese", "Italian", "Halal", "Indian", "Thai", "Korean", "Local", "Steamboat", "Desserts" ] %>
    <%= f.button :submit,
                  class: "btn btn-primary" %>
  <% end %>
</div>
