<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-login">

        <h1 class="success-header animate__animated animate__bounce">Group created</h1>
        <p class="success-body">Congratulations! Your group has been created, share this link with you friends and get started on planning your next trip!</p>

        <div data-controller="clipboard" data-clipboard-success-content="Copied!" class="clipboard-form-control form-group mb-3">
          <input type="text" value="https://www.letschomp.co/chomp_sessions/<%= params["chomp_session_id"] %>" data-clipboard-target="source" class="clipboard-text w-100 pl-2"/>

          <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="btn-flat border-0">
            <i class="fas fa-clipboard"></i> Copy
          </button>
        </div>

        <p>A confirmation email has been sent to <strong><%= current_user.email %></strong>. Please check your inbox/junk folder.</p>

        <h4>Session Details</h4>
        <p> >> <%= @chomp_session.name %></p>
        <p>Meeting Date: <%= @chomp_session.date %></p>
        <p>Meeting Time: <%= @chomp_session.time.strftime("%I:%M %p") %></p>

        <div class="d-flex align-items-center flex-column">
          <%= link_to "Submit my preferences", chomp_session_path(@chomp_session), class: "btn btn-primary btn-lg" %>
          <%= link_to "Edit Chomp settings", edit_chomp_session_path(@chomp_session), class: "btn btn-info btn-lg" %>
        </div>

      </div>
    </div>
  </div>
</div>
