
<div id="reviews">
  <div data-insert-in-list-target="items">
    <% if restaurant.reviews.blank? %>
      Be the first to leave a review for <%= restaurant.name %>
    <% else %>
      <% restaurant.reviews.reverse.each do |review| %>
        <div data-controller="edit-review" data-edit-review-target="card">
          <div id="review<%= review.id %>" class="review m-4" data-edit-review-target="infos">

            <%= render partial: "stars", locals: {review: review} %>
            <i class="far fa-edit review-edit-btn ml-2" data-action="click->edit-review#displayForm"></i>

            <h3 class="review-title mt-2"><%= review.title %></h3>
            <p class="review-content mt-2"><%= review.content %></p>

          </div>

          <%= simple_form_for [ restaurant, review ],
            html: { class: 'd-none m-4',
                    data: {
                      edit_review_target: 'form',
                      action: 'submit->edit-review#update'
                      }
                  } do |f| %>
            <%= f.input :rating %>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.submit :Edit, class: "btn btn-outline-primary" %>
          <% end %>

          <div class="review" data-controller="edit-review" data-edit-review-target="card">
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
