<div class="container">
  <div class="restaurant-wrapper row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="my-3 mx-auto text-center">

        <h1><%= @restaurant.name %></h1>
        <p id="restaurant-address"><%= @restaurant.address %></p>
        <%= image_tag @restaurant.photo_url, id: "restaurant-image", class: "center-cropped mb-3"%>

        <h2 id="average-review">
          <% @restaurant.average_rating.to_i.times do |star| %>
            <i class="fas fa-star"></i>
          <% end %>
          <% unchecked_stars = (5 - @restaurant.average_rating).to_i %>
          <% unchecked_stars.times do |star| %>
            <i class="far fa-star"></i>
          <% end %>
          <%= @restaurant.average_rating.round(2) %>
          <%= pluralize @restaurant.reviews.size, "review" %>
        </h2>

      </div>

      <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
          <%= render partial: "reviews/form", locals: { restaurant: @restaurant, review: @review } %>
          <%= render partial: "restaurants/review", locals: { restaurant: @restaurant } %>
      </div>
    </div>
  </div>
</div>
