<div class="container">
  <div class="restaurant-wrapper row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="my-3 mx-auto text-center">

        <h1><%= @restaurant.name %></h1>
        <p id="restaurant-address"><%= @restaurant.address %></p>
        <%= image_tag @restaurant.photo_url, id: "restaurant-image", class: "center-cropped mb-3"%>

        <h2 id="average-review">
          <% @restaurant.average_rating.to_i.times do |star| %>
            <i class="fas fa-star"></i>
          <% end %>
          <% unchecked_stars = (5 - @restaurant.average_rating).to_i %>
          <% unchecked_stars.times do |star| %>
            <i class="far fa-star"></i>
          <% end %>
          <%= @restaurant.average_rating.round(2) %>
          <%= pluralize @restaurant.reviews.size, "review" %>
        </h2>

      </div>

      <div data-controller="insert-in-list">
        <div id="reviews">
          <div data-insert-in-list-target="items">
            <% if @restaurant.reviews.blank? %>
              Be the first to leave a review for <%= @restaurant.name %>
            <% else %>
              <% @restaurant.reviews.each do |review| %>
                <div id="review-<%= review.id %>">
                  <h3><%= review.title %></h3>
                  <% review.rating.times do |star| %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% unchecked_stars = (5 - review.rating).to_i %>
                  <% unchecked_stars.times do |star| %>
                    <i class="far fa-star"></i>
                  <% end %>
                  <p><%= review.content %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <%= simple_form_for([ @restaurant, @review ], remote: true,
                        data: {
                          insert_in_list_target: "form",
                        action: 'submit->insert-in-list#send'
                      }) do |f| %>
          <%= f.input :rating, collection: [['1 - Blegh!', 1], ['2 - Below Average', 2], ['3 - Alright', 3], ['4 - Not Bad', 4], ['5 - Amazing!', 5]], selected: 3 %>
          <%= f.input :title, as: :string %>
          <%= f.input :content, as: :text %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
