<div class="container">
  <div class="restaurant-wrapper row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-login">
        <div class="mb-3 mx-auto text-center">

          <h1><%= @restaurant.name %></h1>
          <p id="restaurant-meta">
          <% if @restaurant.website.include?("http") %>
            <a href="<%= @restaurant.website %>" target="_blank" rel="noopener noreferrer">
              Restaurant site <i class="fas fa-external-link-alt"></i>
            </a>
          <% else %>
            <a href="https://<%= @restaurant.website %>" target="_blank" rel="noopener noreferrer">
              Restaurant site <i class="fas fa-external-link-alt"></i>
            </a>
          <% end %>
            <br>
            <%= @restaurant.address %><br>
            <%= @restaurant.opening_time.strftime("%I:%M %p") %> ~ <%= @restaurant.closing_time.strftime("%I:%M %p") %>
          </p>
          <div class="restaurant-image-container">
            <%= link_to toggle_favorite_restaurant_path, method: :post do %>
              <% if user_signed_in? && current_user.favorited?(@restaurant) %>
                <i class="fas fa-heart animate__animated animate__rubberBand"></i>
              <% else %>
                <i class="far fa-heart animate__animated animate__rubberBand"></i>
              <% end %>
            <% end %>
            <%= render partial: "carousel", locals: {restaurant: @restaurant} %>
          </div>
          <p id="average-review" class="text-left">
            <% @restaurant.google_rating.to_i.times do |star| %>
              <i class="fas fa-star"></i>
            <% end %>
            <% unchecked_stars = (5 - @restaurant.google_rating).to_i %>
            <% unchecked_stars.times do |star| %>
              <i class="far fa-star"></i>
            <% end %>
            <%= @restaurant.google_rating.round(2) %>
            <br>
            <span class="text-small text-info">(Rating above is taken from Google Reviews)</span>
            <br>
            <span class="text-success">User Reviews:
              <span id="review-count"><%= @restaurant.reviews.size %></span>
            </span>
          </p>

          <p id="restaurant-description" class="text-left"><%=h truncate(@restaurant.description, length: 150) %></p>

          <%= render "map" %>
        </div>

        <%# ================= REVIEWS =================%>
        <h3 class="mt-5 text-center">Reviews:</h3>
        <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
          <% if @restaurant.reviews.blank? %>
          <p data-insert-in-list-target="zeroReviewsNotice" class="font-weight-bold text-center text-primary" id="zero-reviews-notice">Be the first to leave a review for <%= @restaurant.name %></p>
          <% unless user_signed_in? %>
          <p class="text-small text-info text-center">*Note: only signed-in users can leave a review!*</p>
          <% end %>
          <% end %>

          <% if user_signed_in? && @restaurant.reviews.find_by(user: current_user).nil? %>
            <%= render partial: "reviews/form", locals: { restaurant: @restaurant, review: @review } %>
          <% end %>
          <%= render partial: "restaurants/review", locals: { restaurant: @restaurant } %>
        </div>
        <%# ================ END OF REVIEWS =============== %>
      </div>
    </div>
  </div>
</div>
