<div class="container">
  <div class="restaurant-wrapper row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-login">
        <div class="mb-3 mx-auto text-center">

          <h1><%= @restaurant.name %></h1>
          <p id="restaurant-meta">
            <%= link_to @restaurant.website, target: "_blank" do %>
              Restaurant site <i class="fas fa-external-link-alt"></i>
            <% end %><br>
            <%= @restaurant.address %><br>
            <%= @restaurant.opening_time.strftime("%I:%M %p") %> ~ <%= @restaurant.closing_time.strftime("%I:%M %p") %>
          </p>
          <%# <%= image_tag @restaurant.photo_url, id: "restaurant-image", class: "center-cropped mb-3" %>
          <div class="restaurant-image-container">
            <%= image_tag "https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg?auto=compress&cs=tinysrgb&h=130", id: "restaurant-image", class: "center-cropped mb-3" %>
            <i class="fas fa-heart"></i>
          </div>
          <p id="average-review" class="text-left">
            <% @restaurant.google_rating.to_i.times do |star| %>
              <i class="fas fa-star"></i>
            <% end %>
            <% unchecked_stars = (5 - @restaurant.google_rating).to_i %>
            <% unchecked_stars.times do |star| %>
              <i class="far fa-star"></i>
            <% end %>
            <%= @restaurant.google_rating.round(2) %>
            <span class="text-muted">User Reviews: <%= @restaurant.reviews.size %></span>
          </p>

          <p id="restaurant-description" class="text-left"><%=h truncate(@restaurant.description, length: 150) %></p>
          <h3>Map</h3>
          <%= render "map" %>

        </div>

        <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
            <%= render partial: "reviews/form", locals: { restaurant: @restaurant, review: @review } %>
            <%= render partial: "restaurants/review", locals: { restaurant: @restaurant } %>
        </div>
      </div>
    </div>
  </div>
</div>
