<h3>Your response for '<strong><%= @chomp_session.name %></strong>' is saved!</h3>

<h4>Chomp code: <strong><%= @chomp_session.public_uid %></strong></h4>

<p>Chomping is in progress...</p>
<p>You'll have to wait <strong>less than <%= pluralize(@chomp_session.session_expiry, 'hour') %></strong> before a decision is made for you.</p>
<p>Meanwhile, go do whatever you want! Who knows, you might even come up with a decision before us... unless you can't decide.</p>

<%= render "shared/meetup_details" %>

<p><em>Psst...</em> Made a mistake? <%= link_to "Click here", edit_response_url(@response) %> to edit your response.</p>
